In [81]:
import pandas as pd

# Ruta del archivo .dta original
input_file_path = 'E:/Luca/Documentos/2025/Gran Data/TP2/usu_individual_T104.dta'

# Leer el archivo .dta original
df_04 = pd.read_stata(input_file_path)

# Verificar las primeras filas para ver las columnas y datos
print(df_04.head())

# Filtrar las filas donde 'REGION' es igual a 1
df_04_filtrado = df_04[df_04['region'] == "Gran Buenos Aires"].copy()

for col in df_04_filtrado.select_dtypes(include='category').columns:
    df_04_filtrado[col] = df_04_filtrado[col].cat.rename_categories(lambda x: str(x))

# Ruta para guardar el nuevo archivo .dta filtrado
output_file_path = 'E:/Luca/Documentos/2025/Gran Data/TP2/usu_individual_T104_filtrado.dta'

# Guardar el DataFrame filtrado en un nuevo archivo .dta
df_04_filtrado.to_stata(output_file_path)

# Confirmar que se guardó correctamente
print(f"Archivo guardado en: {output_file_path}")

     CODUSU  nro_hogar componente h15    ano4       trimestre  \
0  125098          1.0        1.0  Sí  2004.0  1er. Trimestre
1  125397          1.0        1.0  Sí  2004.0  1er. Trimestre
2  125515          1.0        1.0  Sí  2004.0  1er. Trimestre
3  125558          1.0        1.0  Sí  2004.0  1er. Trimestre
4  125558          1.0        2.0  Sí  2004.0  1er. Trimestre

              region mas_500              aglomerado  pondera  ... deccfr  \
0  Gran Buenos Aires       S  Ciudad de Buenos Aires   1299.0  ...     07
1  Gran Buenos Aires       S  Ciudad de Buenos Aires   2018.0  ...     00
2  Gran Buenos Aires       S  Ciudad de Buenos Aires   1486.0  ...     07
3  Gran Buenos Aires       S  Ciudad de Buenos Aires   1674.0  ...     08
4  Gran Buenos Aires       S  Ciudad de Buenos Aires   1674.0  ...     08

  ideccfr rdeccfr gdeccfr pdeccfr adeccfr pj1_1 pj2_1 pj3_1 idimpp
0              06      06              04   0.0   0.0   0.0  00000
1              00      00              00   0.0   0.0   0.0  00000
2              07      07              05   0.0   0.0   0.0  00020
3              08      08              06   0.0   0.0   0.0  00000
4              08      08              06   0.0   0.0   0.0  00000

[5 rows x 176 columns]
Archivo guardado en: E:/Luca/Documentos/2025/Gran Data/TP2/usu_individual_T104_filtrado.dta

In [85]:
# Ruta del archivo Excel
file_path_24 = 'E:/Luca/Documentos/2025/Gran Data/TP2/usu_individual_T124.xlsx'

# Leer el archivo Excel
df_24 = pd.read_excel(file_path_24)

# Filtrar las filas donde 'REGION' es igual a 1
df_24_filtrado = df_24[df_24['REGION'] == 1]

# Guardar el DataFrame filtrado en un nuevo archivo Excel
output_path = 'E:/Luca/Documentos/2025/Gran Data/TP2/usu_individual_T124_filtrado.xlsx'
df_24_filtrado.to_excel(output_path, index=False)

In [107]:
import pandas as pd

# Rutas de los archivos
file_path_04 = 'E:/Luca/Documentos/2025/Gran Data/TP2/usu_individual_T104_filtrado.dta'
file_path_24 = 'E:/Luca/Documentos/2025/Gran Data/TP2/usu_individual_T124_filtrado.xlsx'

# Leer los archivos
df_04 = pd.read_stata(file_path_04)
df_24 = pd.read_excel(file_path_24, engine='openpyxl')

# Mostrar las primeras filas y columnas para confirmar que todo esté bien
print("Columnas de df_04 (T104):", df_04.columns.tolist())
print("Columnas de df_24 (T124):", df_24.columns.tolist())

# 1. Normalizar los nombres de las columnas (convertir todo a mayúsculas y quitar espacios)
df_04.columns = df_04.columns.str.strip().str.upper()
df_24.columns = df_24.columns.str.strip().str.upper()

# Mostrar las columnas normalizadas
print("\nColumnas de df_04 después de normalizar:", df_04.columns.tolist())
print("Columnas de df_24 después de normalizar:", df_24.columns.tolist())

# 2. Filtrar solo las columnas comunes entre los dos DataFrames
columnas_comunes = list(set(df_04.columns) & set(df_24.columns))
print("Columnas comunes:", columnas_comunes)

# Filtramos ambas bases para que solo contengan las columnas comunes
df_04 = df_04[columnas_comunes].copy()
df_24 = df_24[columnas_comunes].copy()

# 3. Asegurarnos de que todas las columnas tengan el mismo tipo de datos
# Convertimos las columnas que sean numéricas o de tipo float a string si es necesario
for col in columnas_comunes:
    # Si la columna tiene un tipo de datos inconsistente (por ejemplo, mezclado entre string y float), la forzamos a string
    if df_04[col].dtype != df_24[col].dtype:
        try:
            # Convertimos ambas columnas a string (o nan donde sea necesario)
            df_04[col] = df_04[col].apply(lambda x: str(x) if pd.notnull(x) else None)
            df_24[col] = df_24[col].apply(lambda x: str(x) if pd.notnull(x) else None)
        except Exception as e:
            print(f"Error al convertir columna {col}: {e}")

# 4. Unir ambos DataFrames
df_unido = pd.concat([df_04, df_24], ignore_index=True)

# 5. Verificar el tipo de datos de las columnas después de la conversión
print("\nTipos de datos después de la conversión:")
print(df_unido.dtypes)

# 6. Exportar el DataFrame unido a un archivo .dta (Stata)
output_path = 'E:/Luca/Documentos/2025/Gran Data/TP2/usu_individual_T104_T124_unido.dta'
df_unido.to_stata(output_path, write_index=False)

print(f"✅ Archivo final guardado en:\n{output_path}")

Columnas de df_04 (T104): ['index', 'CODUSU', 'nro_hogar', 'componente', 'h15', 'ano4', 'trimestre', 'region', 'mas_500', 'aglomerado', 'pondera', 'ch03', 'ch04', 'ch06', 'ch07', 'ch08', 'ch09', 'ch10', 'ch11', 'ch12', 'ch13', 'ch14', 'ch15', 'ch15_cod', 'ch16', 'ch16_cod', 'nivel_ed', 'estado', 'cat_ocup', 'cat_inac', 'pp02c1', 'pp02c2', 'pp02c3', 'pp02c4', 'pp02c5', 'pp02c6', 'pp02c7', 'pp02c8', 'pp02e', 'pp02h', 'pp02i', 'pp03c', 'pp03d', 'pp3e_tot', 'pp3f_tot', 'pp03g', 'pp03h', 'pp03i', 'pp03j', 'intensi', 'pp04a', 'pp04b_cod', 'pp04b1', 'pp04b2', 'pp04b3_mes', 'pp04b3_ano', 'pp04b3_dia', 'pp04c', 'pp04c99', 'pp04d_cod', 'pp04g', 'pp05b2_mes', 'pp05b2_ano', 'pp05b2_dia', 'pp05c_1', 'pp05c_2', 'pp05c_3', 'pp05e', 'pp05f', 'pp05h', 'pp06a', 'pp06c', 'pp06d', 'pp06e', 'pp06h', 'pp07a', 'pp07c', 'pp07d', 'pp07e', 'pp07f1', 'pp07f2', 'pp07f3', 'pp07f4', 'pp07f5', 'pp07g1', 'pp07g2', 'pp07g3', 'pp07g4', 'pp07g_59', 'pp07h', 'pp07i', 'pp07j', 'pp07k', 'pp08d1', 'pp08d4', 'pp08f1', 'pp08f2', 'pp08j1', 'pp08j2', 'pp08j3', 'pp09a', 'pp09a_esp', 'pp09b', 'pp09c', 'pp09c_esp', 'pp10a', 'pp10c', 'pp10d', 'pp10e', 'pp11a', 'pp11b_cod', 'pp11b1', 'pp11b2_mes', 'pp11b2_ano', 'pp11b2_dia', 'pp11c', 'pp11c99', 'pp11d_cod', 'pp11g_ano', 'pp11g_mes', 'pp11g_dia', 'pp11l', 'pp11l1', 'pp11m', 'pp11n', 'pp11o', 'pp11p', 'pp11q', 'pp11r', 'pp11s', 'pp11t', 'p21', 'decocur', 'idecocur', 'rdecocur', 'gdecocur', 'pdecocur', 'adecocur', 'tot_p12', 'p47t', 'decindr', 'idecindr', 'rdecindr', 'gdecindr', 'pdecindr', 'adecindr', 'v2_m', 'v3_m', 'v4_m', 'v5_m', 'v8_m', 'v9_m', 'v10_m', 'v11_m', 'v12_m', 'v18_m', 'v19_am', 'v21_m', 't_vi', 'itf', 'decifr', 'idecifr', 'rdecifr', 'gdecifr', 'pdecifr', 'adecifr', 'ipcf', 'deccfr', 'ideccfr', 'rdeccfr', 'gdeccfr', 'pdeccfr', 'adeccfr', 'pj1_1', 'pj2_1', 'pj3_1', 'idimpp']
Columnas de df_24 (T124): ['CODUSU', 'ANO4', 'TRIMESTRE', 'NRO_HOGAR', 'COMPONENTE', 'H15', 'REGION', 'MAS_500', 'AGLOMERADO', 'PONDERA', 'CH03', 'CH04', 'CH05', 'CH06', 'CH07', 'CH08', 'CH09', 'CH10', 'CH11', 'CH12', 'CH13', 'CH14', 'CH15', 'CH15_COD', 'CH16', 'CH16_COD', 'NIVEL_ED', 'ESTADO', 'CAT_OCUP', 'CAT_INAC', 'IMPUTA', 'PP02C1', 'PP02C2', 'PP02C3', 'PP02C4', 'PP02C5', 'PP02C6', 'PP02C7', 'PP02C8', 'PP02E', 'PP02H', 'PP02I', 'PP03C', 'PP03D', 'PP3E_TOT', 'PP3F_TOT', 'PP03G', 'PP03H', 'PP03I', 'PP03J', 'INTENSI', 'PP04A', 'PP04B_COD', 'PP04B1', 'PP04B2', 'PP04B3_MES', 'PP04B3_ANO', 'PP04B3_DIA', 'PP04C', 'PP04C99', 'PP04D_COD', 'PP04G', 'PP05B2_MES', 'PP05B2_ANO', 'PP05B2_DIA', 'PP05C_1', 'PP05C_2', 'PP05C_3', 'PP05E', 'PP05F', 'PP05H', 'PP06A', 'PP06C', 'PP06D', 'PP06E', 'PP06H', 'PP07A', 'PP07C', 'PP07D', 'PP07E', 'PP07F1', 'PP07F2', 'PP07F3', 'PP07F4', 'PP07F5', 'PP07G1', 'PP07G2', 'PP07G3', 'PP07G4', 'PP07G_59', 'PP07H', 'PP07I', 'PP07J', 'PP07K', 'PP08D1', 'PP08D4', 'PP08F1', 'PP08F2', 'PP08J1', 'PP08J2', 'PP08J3', 'PP09A', 'PP09A_ESP', 'PP09B', 'PP09C', 'PP09C_ESP', 'PP10A', 'PP10C', 'PP10D', 'PP10E', 'PP11A', 'PP11B_COD', 'PP11B1', 'PP11B2_MES', 'PP11B2_ANO', 'PP11B2_DIA', 'PP11C', 'PP11C99', 'PP11D_COD', 'PP11G_ANO', 'PP11G_MES', 'PP11G_DIA', 'PP11L', 'PP11L1', 'PP11M', 'PP11N', 'PP11O', 'PP11P', 'PP11Q', 'PP11R', 'PP11S', 'PP11T', 'P21', 'DECOCUR', 'IDECOCUR', 'RDECOCUR', 'GDECOCUR', 'PDECOCUR', 'ADECOCUR', 'PONDIIO', 'TOT_P12', 'P47T', 'DECINDR', 'IDECINDR', 'RDECINDR', 'GDECINDR', 'PDECINDR', 'ADECINDR', 'PONDII', 'V2_M', 'V3_M', 'V4_M', 'V5_M', 'V8_M', 'V9_M', 'V10_M', 'V11_M', 'V12_M', 'V18_M', 'V19_AM', 'V21_M', 'T_VI', 'ITF', 'DECIFR', 'IDECIFR', 'RDECIFR', 'GDECIFR', 'PDECIFR', 'ADECIFR', 'IPCF', 'DECCFR', 'IDECCFR', 'RDECCFR', 'GDECCFR', 'PDECCFR', 'ADECCFR', 'PONDIH']

Columnas de df_04 después de normalizar: ['INDEX', 'CODUSU', 'NRO_HOGAR', 'COMPONENTE', 'H15', 'ANO4', 'TRIMESTRE', 'REGION', 'MAS_500', 'AGLOMERADO', 'PONDERA', 'CH03', 'CH04', 'CH06', 'CH07', 'CH08', 'CH09', 'CH10', 'CH11', 'CH12', 'CH13', 'CH14', 'CH15', 'CH15_COD', 'CH16', 'CH16_COD', 'NIVEL_ED', 'ESTADO', 'CAT_OCUP', 'CAT_INAC', 'PP02C1', 'PP02C2', 'PP02C3', 'PP02C4', 'PP02C5', 'PP02C6', 'PP02C7', 'PP02C8', 'PP02E', 'PP02H', 'PP02I', 'PP03C', 'PP03D', 'PP3E_TOT', 'PP3F_TOT', 'PP03G', 'PP03H', 'PP03I', 'PP03J', 'INTENSI', 'PP04A', 'PP04B_COD', 'PP04B1', 'PP04B2', 'PP04B3_MES', 'PP04B3_ANO', 'PP04B3_DIA', 'PP04C', 'PP04C99', 'PP04D_COD', 'PP04G', 'PP05B2_MES', 'PP05B2_ANO', 'PP05B2_DIA', 'PP05C_1', 'PP05C_2', 'PP05C_3', 'PP05E', 'PP05F', 'PP05H', 'PP06A', 'PP06C', 'PP06D', 'PP06E', 'PP06H', 'PP07A', 'PP07C', 'PP07D', 'PP07E', 'PP07F1', 'PP07F2', 'PP07F3', 'PP07F4', 'PP07F5', 'PP07G1', 'PP07G2', 'PP07G3', 'PP07G4', 'PP07G_59', 'PP07H', 'PP07I', 'PP07J', 'PP07K', 'PP08D1', 'PP08D4', 'PP08F1', 'PP08F2', 'PP08J1', 'PP08J2', 'PP08J3', 'PP09A', 'PP09A_ESP', 'PP09B', 'PP09C', 'PP09C_ESP', 'PP10A', 'PP10C', 'PP10D', 'PP10E', 'PP11A', 'PP11B_COD', 'PP11B1', 'PP11B2_MES', 'PP11B2_ANO', 'PP11B2_DIA', 'PP11C', 'PP11C99', 'PP11D_COD', 'PP11G_ANO', 'PP11G_MES', 'PP11G_DIA', 'PP11L', 'PP11L1', 'PP11M', 'PP11N', 'PP11O', 'PP11P', 'PP11Q', 'PP11R', 'PP11S', 'PP11T', 'P21', 'DECOCUR', 'IDECOCUR', 'RDECOCUR', 'GDECOCUR', 'PDECOCUR', 'ADECOCUR', 'TOT_P12', 'P47T', 'DECINDR', 'IDECINDR', 'RDECINDR', 'GDECINDR', 'PDECINDR', 'ADECINDR', 'V2_M', 'V3_M', 'V4_M', 'V5_M', 'V8_M', 'V9_M', 'V10_M', 'V11_M', 'V12_M', 'V18_M', 'V19_AM', 'V21_M', 'T_VI', 'ITF', 'DECIFR', 'IDECIFR', 'RDECIFR', 'GDECIFR', 'PDECIFR', 'ADECIFR', 'IPCF', 'DECCFR', 'IDECCFR', 'RDECCFR', 'GDECCFR', 'PDECCFR', 'ADECCFR', 'PJ1_1', 'PJ2_1', 'PJ3_1', 'IDIMPP']
Columnas de df_24 después de normalizar: ['CODUSU', 'ANO4', 'TRIMESTRE', 'NRO_HOGAR', 'COMPONENTE', 'H15', 'REGION', 'MAS_500', 'AGLOMERADO', 'PONDERA', 'CH03', 'CH04', 'CH05', 'CH06', 'CH07', 'CH08', 'CH09', 'CH10', 'CH11', 'CH12', 'CH13', 'CH14', 'CH15', 'CH15_COD', 'CH16', 'CH16_COD', 'NIVEL_ED', 'ESTADO', 'CAT_OCUP', 'CAT_INAC', 'IMPUTA', 'PP02C1', 'PP02C2', 'PP02C3', 'PP02C4', 'PP02C5', 'PP02C6', 'PP02C7', 'PP02C8', 'PP02E', 'PP02H', 'PP02I', 'PP03C', 'PP03D', 'PP3E_TOT', 'PP3F_TOT', 'PP03G', 'PP03H', 'PP03I', 'PP03J', 'INTENSI', 'PP04A', 'PP04B_COD', 'PP04B1', 'PP04B2', 'PP04B3_MES', 'PP04B3_ANO', 'PP04B3_DIA', 'PP04C', 'PP04C99', 'PP04D_COD', 'PP04G', 'PP05B2_MES', 'PP05B2_ANO', 'PP05B2_DIA', 'PP05C_1', 'PP05C_2', 'PP05C_3', 'PP05E', 'PP05F', 'PP05H', 'PP06A', 'PP06C', 'PP06D', 'PP06E', 'PP06H', 'PP07A', 'PP07C', 'PP07D', 'PP07E', 'PP07F1', 'PP07F2', 'PP07F3', 'PP07F4', 'PP07F5', 'PP07G1', 'PP07G2', 'PP07G3', 'PP07G4', 'PP07G_59', 'PP07H', 'PP07I', 'PP07J', 'PP07K', 'PP08D1', 'PP08D4', 'PP08F1', 'PP08F2', 'PP08J1', 'PP08J2', 'PP08J3', 'PP09A', 'PP09A_ESP', 'PP09B', 'PP09C', 'PP09C_ESP', 'PP10A', 'PP10C', 'PP10D', 'PP10E', 'PP11A', 'PP11B_COD', 'PP11B1', 'PP11B2_MES', 'PP11B2_ANO', 'PP11B2_DIA', 'PP11C', 'PP11C99', 'PP11D_COD', 'PP11G_ANO', 'PP11G_MES', 'PP11G_DIA', 'PP11L', 'PP11L1', 'PP11M', 'PP11N', 'PP11O', 'PP11P', 'PP11Q', 'PP11R', 'PP11S', 'PP11T', 'P21', 'DECOCUR', 'IDECOCUR', 'RDECOCUR', 'GDECOCUR', 'PDECOCUR', 'ADECOCUR', 'PONDIIO', 'TOT_P12', 'P47T', 'DECINDR', 'IDECINDR', 'RDECINDR', 'GDECINDR', 'PDECINDR', 'ADECINDR', 'PONDII', 'V2_M', 'V3_M', 'V4_M', 'V5_M', 'V8_M', 'V9_M', 'V10_M', 'V11_M', 'V12_M', 'V18_M', 'V19_AM', 'V21_M', 'T_VI', 'ITF', 'DECIFR', 'IDECIFR', 'RDECIFR', 'GDECIFR', 'PDECIFR', 'ADECIFR', 'IPCF', 'DECCFR', 'IDECCFR', 'RDECCFR', 'GDECCFR', 'PDECCFR', 'ADECCFR', 'PONDIH']
Columnas comunes: ['PP11L', 'PP07G1', 'TOT_P12', 'DECIFR', 'CAT_INAC', 'PP07F4', 'H15', 'ADECOCUR', 'PP11Q', 'PP07F1', 'PP05H', 'PP07A', 'PP03C', 'CH13', 'PP3F_TOT', 'V2_M', 'V21_M', 'PP08F2', 'PP08J1', 'PDECINDR', 'PDECCFR', 'PP07I', 'PP3E_TOT', 'PP09C', 'PP02E', 'PDECOCUR', 'PP08F1', 'PP07K', 'PP06C', 'PP03G', 'CH11', 'PP04C', 'V4_M', 'PP06D', 'PP03H', 'PP07E', 'ANO4', 'PP10A', 'PP11A', 'ADECIFR', 'PP09A_ESP', 'RDECINDR', 'PP11B2_MES', 'PP04B1', 'PP07G_59', 'PP03J', 'PP07H', 'PP06A', 'CH03', 'P21', 'PONDERA', 'CODUSU', 'PP10E', 'GDECCFR', 'PP05B2_ANO', 'PP07C', 'COMPONENTE', 'CH07', 'CH15_COD', 'PP09C_ESP', 'PP11D_COD', 'PP09A', 'T_VI', 'PP05C_3', 'CH06', 'PP04G', 'PP04D_COD', 'PP11B1', 'PP07G4', 'PP10D', 'MAS_500', 'PP11M', 'PP04A', 'PP02C5', 'CH12', 'PP02C6', 'CH09', 'CAT_OCUP', 'PP05E', 'PP04B3_MES', 'PP10C', 'PP11B2_DIA', 'ESTADO', 'INTENSI', 'DECCFR', 'V11_M', 'GDECIFR', 'PP03D', 'PP06H', 'PP07F2', 'PP11N', 'PP08J2', 'PP11C99', 'PP05B2_DIA', 'PP05F', 'PP11B2_ANO', 'PP09B', 'PP06E', 'V18_M', 'PP11R', 'PP02C3', 'PP11L1', 'CH10', 'PP02C7', 'PP11O', 'PP07F5', 'PP07J', 'CH15', 'GDECINDR', 'CH08', 'V12_M', 'PP04B3_ANO', 'V5_M', 'PDECIFR', 'TRIMESTRE', 'P47T', 'PP11P', 'PP11T', 'PP07F3', 'PP05B2_MES', 'PP02C4', 'PP04B3_DIA', 'RDECIFR', 'NRO_HOGAR', 'AGLOMERADO', 'PP02I', 'PP05C_1', 'GDECOCUR', 'CH14', 'V8_M', 'PP05C_2', 'V9_M', 'V3_M', 'IPCF', 'PP03I', 'PP02H', 'CH16', 'PP08D1', 'CH04', 'RDECOCUR', 'ITF', 'PP11S', 'IDECINDR', 'PP11B_COD', 'PP11G_MES', 'DECINDR', 'IDECCFR', 'PP04B2', 'REGION', 'PP02C8', 'PP08J3', 'IDECIFR', 'PP02C1', 'PP11G_ANO', 'NIVEL_ED', 'ADECCFR', 'V19_AM', 'PP04C99', 'DECOCUR', 'PP11G_DIA', 'PP08D4', 'ADECINDR', 'PP11C', 'RDECCFR', 'PP07G3', 'IDECOCUR', 'V10_M', 'CH16_COD', 'PP02C2', 'PP04B_COD', 'PP07G2', 'PP07D']

Tipos de datos después de la conversión:
PP11L        object
PP07G1       object
TOT_P12      object
DECIFR       object
CAT_INAC     object
              ...
CH16_COD     object
PP02C2       object
PP04B_COD    object
PP07G2       object
PP07D        object
Length: 172, dtype: object
✅ Archivo final guardado en:
E:/Luca/Documentos/2025/Gran Data/TP2/usu_individual_T104_T124_unido.dta

In [129]:
columna_especifica04 = df_04['PP11L']
print(columna_especifica04)
columna_especifica24 = df_24['PP11L']
print(columna_especifica24)
df_unido.head(200)

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
7642    0.0
7643    0.0
7644    0.0
7645    0.0
7646    0.0
Name: PP11L, Length: 7647, dtype: category
Categories (8, object): ['0.0' < 'Falta de clientes/clientes que no pagan' < 'Falta de capital/equipamiento' < 'Trabajo estacional' < 'Tenía gastos demasiado altos' < 'Otras causas laborales (especificar)' < 'Causas personales (matrimonio, embarazo, cuid... < 'Ns./Nr.']
0       None
1       None
2       None
3       None
4       None
        ...
7046    None
7047    None
7048    None
7049    None
7050    None
Name: PP11L, Length: 7051, dtype: object

,PP11L,PP07G1,TOT_P12,DECIFR,CAT_INAC,PP07F4,H15,ADECOCUR,PP11Q,PP07F1,...,PP11C,RDECCFR,PP07G3,IDECOCUR,V10_M,CH16_COD,PP02C2,PP04B_COD,PP07G2,PP07D
0,0.0,0.0,0.0,02,Jubilado/pensionado,0.0,Sí,,0.0,0.0,...,0.0,06,0.0,,0.0,,0.0,,0.0,0.0
1,0.0,0.0,0.0,00,0.0,0.0,Sí,00,0.0,0.0,...,0.0,00,0.0,,0.0,,0.0,5311,0.0,0.0
2,0.0,0.0,0.0,03,Jubilado/pensionado,0.0,Sí,,0.0,0.0,...,0.0,07,0.0,,0.0,,0.0,,0.0,0.0
3,0.0,0.0,0.0,09,0.0,0.0,Sí,09,0.0,0.0,...,0.0,08,0.0,,0.0,,0.0,5003,0.0,0.0
4,0.0,0.0,0.0,09,Ama de casa,0.0,Sí,,0.0,0.0,...,0.0,08,0.0,,0.0,,0.0,,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,0.0,0.0,0.0,05,0.0,0.0,Sí,,0.0,0.0,...,de 11 a 25 personas,04,0.0,,0.0,,No,,0.0,0.0
196,0.0,0.0,0.0,05,Menor de 6 años,0.0,0.0,,0.0,0.0,...,0.0,04,0.0,,0.0,,0.0,,0.0,0.0
197,0.0,0.0,0.0,06,Jubilado/pensionado,0.0,Sí,,0.0,0.0,...,0.0,09,0.0,,0.0,,0.0,,0.0,0.0
198,0.0,Sí,0.0,08,0.0,No,Sí,08,0.0,No,...,0.0,05,Sí,,0.0,,0.0,53,Sí,0.0
199,0.0,0.0,0.0,08,Estudiante,0.0,Sí,,0.0,0.0,...,0.0,05,0.0,,0.0,,0.0,,0.0,0.0