In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
import os

from sklearn.preprocessing import scale
from sklearn.linear_model import Lasso, LassoCV, Ridge, RidgeCV, ElasticNet, ElasticNetCV
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.metrics import accuracy_score
from sklearn.model_selection import KFold, GridSearchCV
from sklearn.model_selection import cross_val_score
from sklearn import metrics 
from sklearn.metrics import mean_squared_error, accuracy_score
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.utils import resample
from sklearn.preprocessing import StandardScaler 
from sklearn.model_selection import train_test_split 
from sklearn.model_selection import KFold, GridSearchCV
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import BaggingRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import AdaBoostRegressor 

# Ruta del archivo a trabajar
res_file_path = 'C:/Users/Toba/FCE/Big Data/Github/BigDataUBA-Grupo28/TP/TP4/Bases/respondieron.xlsx'

# Leer el archivo
df_res = pd.read_excel(res_file_path)

In [10]:
df_res['ESTADO'].unique()

array([3, 1, 2, 4], dtype=int64)

In [9]:
df_res['CH07'].unique()

array([4, 3, 2, 5, 1], dtype=int64)

In [8]:
df_res['CH06'].unique()

array(['79.0', '67.0', '74.0', '54.0', '51.0', '25.0', '20.0', '55.0',
       '48.0', '17.0', '15.0', '77.0', '50.0', '49.0', '26.0', '22.0',
       '18.0', '86.0', '62.0', '76.0', '45.0', '41.0', '21.0', '31.0',
       '19.0', '52.0', '12.0', '32.0', '29.0', '64.0', '10.0', '47.0',
       '43.0', '13.0', '3.0', '46.0', '78.0', '60.0', '59.0', '37.0',
       '44.0', '30.0', '63.0', '71.0', '87.0', '34.0', '14.0', '24.0',
       '28.0', '27.0', '69.0', '56.0', '33.0', '66.0', '61.0', '1.0',
       '92.0', 'Menos de 1 año', '65.0', '57.0', '23.0', '4.0', '40.0',
       '16.0', '9.0', '83.0', '6.0', '38.0', '75.0', '11.0', '53.0',
       '73.0', '39.0', '35.0', '7.0', '5.0', '36.0', '8.0', '82.0',
       '85.0', '72.0', '70.0', '89.0', '42.0', '2.0', '58.0', '68.0',
       '81.0', '80.0', '93.0', '96.0', '84.0', '90.0', '94.0', '88.0',
       '98 y más años', '85', '59', '57', '26', '88', '81', '43', '66',
       '50', '30', '10', '5', '46', '56', '61', '62', '29', '77', '80',
       '78', '75', '58', '15', '48', '23', '14', '79', '47', '42', '11',
       '65', '71', '70', '45', '51', '86', '64', '82', '6', '74', '39',
       '17', '8', '3', '1', '32', '60', '22', '44', '37', '34', '21',
       '18', '24', '54', '25', '76', '35', '31', '12', '7', '72', '40',
       '63', '19', '36', '9', '28', '27', '83', '33', '73', '41', '84',
       '91', '53', '16', '52', '49', '13', '55', '4', '68', '69', '20',
       '90', nan, '89', '67', '38', '2', '92', '95', '96', '93', '94',
       '87', '97'], dtype=object)

In [7]:
df_res['CH04'].unique()

array([1, 2], dtype=int64)

In [6]:
df_res['IPCF'].unique()

array([3.6800e+02, 0.0000e+00, 4.4000e+02, ..., 1.5825e+05, 2.7250e+05,
       9.1000e+05])

In [11]:
df_res['NIVEL_ED'].unique()

array([3, 2, 6, 5, 4, 1, 0, 7], dtype=int64)

In [4]:
# Crear la columna 'DESOCUPADO' (1 si ESTADO es 2, 0 si no lo es)
df_res['DESOCUPADO'] = (df_res['ESTADO'] == 2).astype(int)

       V11_M  DECIFR PP04C99  PP09B  PP3E_TOT PP02C3  IPCF  V9_M CAT_OCUP  \
14642    NaN      12     NaN    NaN       NaN      0   0.0   0.0      NaN
14643    NaN      12     NaN    NaN       NaN      2   0.0   0.0        2
14644    NaN      12     2.0    0.0      45.0      0   0.0   0.0        3
14645    NaN      12     0.0    0.0      12.0      0   0.0   0.0        3
14646    NaN      12     0.0    0.0       0.0      0   0.0   0.0        3

      PP09A  ... INTENSI  V10_M CH13  PP06D CH16_COD PDECCFR PP02C4  \
14642   NaN  ...     NaN    0.0    1    NaN      NaN     NaN      0
14643   NaN  ...     NaN    0.0    1    NaN      NaN     NaN      2
14644   2.0  ...     2.0    0.0    1    0.0      NaN     NaN      0
14645   2.0  ...     2.0    0.0    1    0.0      NaN     NaN      0
14646   1.0  ...     4.0    0.0    2    0.0      NaN     NaN      0

      PP11B2_ANO PP08J1 DESOCUPADO
14642        NaN    NaN          0
14643        0.0    NaN          1
14644        NaN    0.0          0
14645        NaN    0.0          0
14646        NaN    0.0          0

[5 rows x 173 columns]

In [18]:
#Punto A
for año in años:
    # Filtrar por año
    df_año = df_res[df_res['ANO4'] == año].copy()
    
    # Limpiar CH06 (edad)
    df_año['CH06'] = df_año['CH06'].replace({
        'Menos de 1 año': 0,
        '98 y más años': 98
    }).astype(float)

    # Variables numéricas
    X_num = df_año[['CH06', 'NIVEL_ED', 'IPCF', 'CH04']]

    # Variables categóricas
    X_cat = df_año[['CH07']]  # solo estado civil

    # Transformar categóricas
    X_cat_dummies = pd.get_dummies(X_cat, drop_first=True)

    # Combinar todo
    X_final = pd.concat([X_num, X_cat_dummies], axis=1)

    # Variable dependiente
    y = df_año['DESOCUPADO']
    
    # Dividir en entrenamiento (70%) y prueba (30%)
    X_train, X_test, y_train, y_test = train_test_split(X_final, y, test_size=0.3, random_state=444)
    
    # Agregar columna de unos
    X_train = pd.concat([pd.DataFrame({'ones': [1] * X_train.shape[0]}, index=X_train.index), X_train], axis=1)
    X_test = pd.concat([pd.DataFrame({'ones': [1] * X_test.shape[0]}, index=X_test.index), X_test], axis=1)
    
    # Calcular la diferencia de medias
    mean_train = X_train.mean()
    mean_test = X_test.mean()
    mean_diff = mean_train - mean_test
    
    diff_df = pd.DataFrame({
        'Media Entrenamiento': mean_train,
        'Media Prueba': mean_test,
        'Diferencia': mean_diff
    })
    
    diff_means_list.append(diff_df)

# Concatenar resultados de todos los años
diff_means_df = pd.concat(diff_means_list, keys=años)

# Mostrar resultado final
print(diff_means_df)

               Media Entrenamiento   Media Prueba    Diferencia
2004 ones                 1.000000       1.000000      0.000000
     CH06                33.451076      34.050611     -0.599535
     NIVEL_ED             2.691113       2.661867      0.029246
     IPCF               358.227007     373.852669    -15.625662
     CH04                 1.532647       1.520942      0.011705
     CH07                 3.512067       3.456370      0.055697
2024 ones                 1.000000       1.000000      0.000000
     CH06                38.205544      38.105314      0.100231
     NIVEL_ED             3.832892       3.849263     -0.016371
     IPCF            165539.752107  150432.498954  15107.253153
     CH04                 1.518647       1.533999     -0.015352
     CH07                 3.431424       3.436519     -0.005095

In [19]:
# Mapear y limpiar CH06
df_res['CH06'] = df_res['CH06'].replace({
    'Menos de 1 año': 0,
    '98 y más años': 98
}).astype(float)

# Renombrar CH06 a 'edad'
df_res = df_res.rename(columns={'CH06': 'edad'})

# 1. Crear edad2
df_res['edad2'] = df_res['edad'] ** 2

In [21]:
df_res['CH13'].unique()

array(['No', 'Sí', '0.0', 'Ns./Nr.', '1', '2', '0', '9'], dtype=object)

In [22]:
df_res['CH12'].unique()

array(['Secundario', 'Primario', 'Universitario', 'Terciario', '0.0',
       'Jardín/Preescolar', 'Polimodal', 'EGB',
       'Educación especial (discapacitado)', 'Ns./Nr.',
       'Posgrado Universitario', '2', '7', '4', '1', '6', '0', '9', '8',
       '3', '99', '5'], dtype=object)

In [23]:
df_res['CH14'].unique()

array(['03', '  ', '04', '02', '01', '06', '00', '05', '07', '09', '99',
       '08', '98', nan, '2.0', '1.0', '0.0', '3.0', '99.0', '4.0', '5.0',
       '98.0', '6.0', '8.0', '7.0', '9.0'], dtype=object)

In [ ]:
# Mapear CH13
map_ch13 = {
    'Sí': 1, '1': 1,
    'No': 2, '2': 2,
    'Ns./Nr.': 3, '0': 3, '0.0': 3, '9': 3
    
}

df_res['CH13'] = df_res['CH13'].replace(map_ch13)
df_res['CH13'] = pd.to_numeric(df_res['CH13'], errors='coerce').fillna(0).astype(int)

# Mapear CH12
map_ch12 = {
    'Jardín/Preescolar': 1, '1': 1,
    'Primario': 2, '2': 2,
    'EGB': 3, '3': 3,
    'Secundario': 4, '4': 4,
    'Polimodal': 5, '5': 5,
    'Terciario': 6, '6': 6,
    'Universitario': 7, '7': 7,
    'Posgrado Universitario': 8, '8': 8,
    'Educación especial (discapacitado)': 9, '9': 9, 
     '0': 0, '0.0': 0, '99': 0
}

df_res['CH12'] = df_res['CH12'].replace(map_ch12)
df_res['CH12'] = pd.to_numeric(df_res['CH12'], errors='coerce').fillna(0).astype(int)